
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0; /* Prevent any default margin from affecting layout */
  background: none; /* Reset background for other routes */
}

/* Apply the black background to the first 1000px of the homepage */
.homepage-bg {
  background: linear-gradient(
    to bottom,
    black 0px,

    #e6e6ff 1200px /* Gradual transition from black to #e6e6ff between 1000px and 1050px */
  ); 
   width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0; /* Prevent any default margin from affecting layout */
}









.animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
