@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0; /* Prevent any default margin from affecting layout */
}

body::before {
  content: "";
  position: fixed; /* Gradient is fixed initially */
  top: 0;
  left: 0;
  width: 100%;
  height: 75px; /* Gradient height */
  background: linear-gradient(to top, transparent, black);
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  z-index: 9999; /* Stay above other elements */
  opacity: 1; /* Fully visible initially */
  transition: position 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

body.show-gradient::before {
  position: absolute; /* Change to absolute */
  opacity: 1; /* Show gradient when scrolling within range */
}

body:not(.show-gradient)::before {
  opacity: 0; /* Hide gradient when scrolling past 1000px */
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
